
.pagination{
    margin:0px auto;
}
@media screen and (max-width: 992px) {
    #portfoliolist .portfolio {
        height:250px;
    }

}

.gir {
    height:108px;
}
@media screen and (max-width: 480px) {

    .theme-popover{
        width:100%;
        height: 390px;
    }

    .zc-div-width{
        width:350px;
    }

    #portfoliolist .portfolio {
        width: 49%;
        height:210px;
        margin:-10px 0;
    }

}

