






.theme-price {
	position: relative;
	bottom: -6px;
	font-family: microsoft yahei, Arial, Helvetica, sans-serif;
	margin-right: 20px;
	font-weight: bold;
	color: #f60;
	line-height: 32px;
	font-size: 24px;
	display: inline-block;
}
.theme-price dfn {
	font-style: normal;
	font-size: 18px;
	margin-right: 2px;
}
.theme-desc {
	padding: 30px;
}
.theme-version {
	padding: 30px;
}
.theme-popover-mask {
	z-index: 9998;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#000;
	opacity:0.4;
	filter:alpha(opacity=40);
	display:none
}
.theme-popover {
	z-index:9999;
	position:fixed;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	height:360px;
	margin:auto;
	border-radius:5px;
	border:solid 2px #666;
	background-color:#fff;
	display:none;
	box-shadow: 0 0 10px #666;
}
.theme-poptit {
	font-family:microsoft yahei;
	border-bottom:1px solid #ddd;
	padding:12px;
	position: relative;
}
.theme-popbod {
	padding:60px 15px;
	color:#444;
	height: 148px;
}
.theme-popbom {
	padding:15px;
	background-color:#f6f6f6;
	border-top:1px solid #ddd;
	border-radius:0 0 5px 5px;
	color:#666
}
.theme-popbom a {
	margin-left:8px
}
.theme-poptit .close {
	float:right;
	color:#999;
	padding:5px;
	margin:-2px -5px -5px;
	font:bold 14px/14px simsun;
	text-shadow:0 1px 0 #ddd
}
.theme-poptit .close:hover {
	color:#444;
}
